<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="~/css/collection.css" rel="stylesheet" />
    <script src="~/js/script.js" defer></script>
</head>
<body>


    <div class="main">
        <div class="nav-bar">

            <a href="/">Home</a>
            <div class="auth-list--wrapper">
            <ul class="auth-list">
            @if (User.Identity.IsAuthenticated)
            {
                <li><a href="/logout">Log out</a></li>
            }
            else
            {
                <li><a href="/login">Log in</a></li>
                <li><a href="/register">Register</a></li>
            }
            </ul>
            </div>
        </div>
        <div class="main-2">


            <div class="car-info__wrapper">
                <div class="product-img" src="" alt="car">
                    <div class="car-title">
                        BMW M4
                    </div>
                </div>
                <ul class="two-col">
                    <li><span class="label">Mileage:</span><span class="value">200.000</span></li>
                    <li><span class="label">Year:</span><span class="value">2022</span></li>
                    <li><span class="label">Motor:</span><span class="value">V8</span></li>
                    <li><span class="label">Horse Power:</span><span class="value">250</span></li>
                    <li><span class="label">Transmission:</span><span class="value">Automatic</span></li>
                    <li><span class="label">Price:</span><span class="value">120.000 €</span></li>

                </ul>
            </div>



            <!--DUMMY DATA-->
            <div class="car-info__wrapper">
                <div class="product-img" src="" alt="car">
                    <div class="car-title">
                        BMW M4
                    </div>
                </div>
                <ul class="two-col">
                    <li><span class="label">Mileage:</span><span class="value">200.000</span></li>
                    <li><span class="label">Year:</span><span class="value">2022</span></li>
                    <li><span class="label">Motor:</span><span class="value">V8</span></li>
                    <li><span class="label">Horse Power:</span><span class="value">250</span></li>
                    <li><span class="label">Transmission:</span><span class="value">Automatic</span></li>
                    <li><span class="label">Price:</span><span class="value">120.000 €</span></li>

                </ul>
            </div>
            <div class="car-info__wrapper">
                <div class="product-img" src="" alt="car">
                    <div class="car-title">
                        BMW M4
                    </div>
                </div>
                <ul class="two-col">
                    <li><span class="label">Mileage:</span><span class="value">200.000</span></li>
                    <li><span class="label">Year:</span><span class="value">2022</span></li>
                    <li><span class="label">Motor:</span><span class="value">V8</span></li>
                    <li><span class="label">Horse Power:</span><span class="value">250</span></li>
                    <li><span class="label">Transmission:</span><span class="value">Automatic</span></li>
                    <li><span class="label">Price:</span><span class="value">120.000 €</span></li>

                </ul>
            </div>


        </div>

    </div>
</body>
</html>