*{
    margin: 0; 
    border: 0; 
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(94, 94, 94);
}
.main-container{ 
    display: flex;
    width: 400px;
    color: white; 
    background-color: rgb(53, 53, 53);
    
    padding: 20px;
    box-sizing: content-box;
}
input, select{ 
    height: 30px;

}
label{
    margin-top: 20px;
}
form{
    flex:1;
    display: flex;
    flex-direction: column;
}

.radio-wrapper{
    display: flex;
    vertical-align: center;
    justify-content: space-between;

}