*{ 
    margin: 0; 
    padding: 0; 
}
body{
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
}
table{
    border-collapse: collapse;
    margin-top: 20px
}

th{
    color: white;
    background-color: rgb(42, 42, 42);
}
th, 
td {
    padding: 10px;
    text-align: left;
}
table{
    background-color: rgb(211, 211, 211);
    width: 100%;
}

table tr:nth-child(2n) {
    background-color: rgb(190, 190, 190);
}

.btn-2{ 
    cursor: pointer;
    border: 2px solid rgb(69, 69, 69);
    border-radius: 20px;
    width: 60px;
    padding: 5px;
    background-color: rgb(223, 223, 223);
}
.btn-2:hover{
    background-color: rgb(192, 192, 192);
}
.td-actions{ 
    
    display: flex;
    gap: 10px;
}

.btn-1{
    color: white;

    border: 2px solid black;
    border-radius: 50px;
    background-color: rgb(45, 45, 45);
    transition: all 200ms ease;
    cursor: pointer;
    padding: 10px 20px; 
    text-decoration: none;
    
}
.btn-1:hover{
    background-color: rgb(86, 86, 86);


}
.main-container{ 
    margin: 40px auto 0px auto; 
    width: 100%;
}
.wrapper{
    margin: 0px auto 0px auto;
    width: 80%;
}

nav{
    width: 250px;
    padding: 20px;
    background-color: blueviolet; 
    user-select: none;
}



.field{
    height: 50px;
    padding-left: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
  

}

.field:hover{
    background-color: rgba(0, 0, 0, .1); 
}

.field-label{ 
    display: block;
    margin-top: 40px;
      border-bottom-color:  rgb(54, 54, 54);
    border-bottom-width: 2px;
    border-bottom-style: solid;
}