*{
    margin: 0; 
    padding: 0;
}

body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);

}

.main-wrapper {
    color: white;
    display: flex;
    padding: 50px 30px 50px 30px;
    justify-content: center;
    flex-direction: column;
    width: 400px;
    background-color: rgb(0, 0, 0);
    box-sizing: border-box;
    border: 2px white solid;
    border-radius: 20px;
}


 input{ 
    height: 50px;
    width: 100%;
    margin-top:5px;


}
label{
    margin-top: 20px;
}


.button-wrapper{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn-2{ 
    cursor: pointer;
    border: 2px solid rgb(69, 69, 69);
    border-radius: 20px;
    width: 60px;
    padding: 5px;
    background-color: rgb(223, 223, 223);
}
.btn-2:hover{
    background-color: rgb(192, 192, 192);
}