* {
    margin: 0;
    padding: 0;
    color: white;
}

body {
    background-color: rgb(0, 0, 0);
    transition: all 1s ease;
}

.left {
    width: 200px;
}

.right {
    width: 200px;
    justify-content: end;
}


.navigation-bar {
    position: absolute;
    width: 100%;
    min-height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    color: white;
    padding: 10px 30px 10px 30px;
    background-color: rgba(0, 0, 0, 0.3);
}



.nav-links {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 30px;
}

.auth {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 30px;
}

.home-options {
    text-decoration: none;
    color: white;
    cursor: pointer;
    transition: all 300ms ease;
}

.home-options:hover {
    color: rgb(255, 0, 0);
}


.hero-title {
    position: absolute;
    top: calc(30px + 70px);
    left: 30px;
}

.button__type-1 {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    border: 2px solid white;
    border-radius: 30px;
    cursor: pointer;
    transition: all 300ms ease;
}

    .button__type-1:hover {
        background-color: rgba(255, 255, 255, 0.1);
    }



section.hero {
    background-image: url("/images/index_wallpaper.jpg");
    background-size: cover;
    height: 100vh;
    width: 100%;
}

section.our-services {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 200px;
    padding-bottom: 200px;
}

section.why-us {
    display: flex;
    flex-direction: column;
    padding: 40px 0;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;
}

.cards {
    display: flex;
    gap: 2%;
    width: 80%;
}

.card {
    position: relative;
    flex: 1;
    border-radius: 20px;
    aspect-ratio: 5/4;
    overflow: hidden;
    background-color: white;
}

    .card::before {
        content: "";
        position: absolute;
        inset: 0;
        background-image: url("/images/image.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        transition: transform 0.4s ease;
    }

    .card:hover::before {
        transform: scale(1.1);
    }



.cards-2__wrapper {
    display: flex;
    justify-content: space-between;
    width: 80vw;
    height: 600px;
    gap: 2rem;
}

.card-2 {
    flex: 1;
    position: relative;
    transition: flex 600ms ease;
    border-radius: 20px;
    overflow: hidden;
}

    .card-2::after {
        content: "";
        position: absolute;
        inset: 0;
        background: linear-gradient( to bottom, rgba(0,0,0,0.45) 0%, rgba(0,0,0,0.0) 15%, rgba(0,0,0,0.0) 85%, rgba(0,0,0,0.45) 100% );
    }

    .card-2:hover {
        flex: 1.5;
        height: initial;
    }

    .card-2::before {
        content: "";
        position: absolute;
        inset: 0;
        background-image: url("/images/image.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        transition: transform 0.4s ease;
    }

    .card-2:hover::before {
        transform: scale(1.1);
    }

.contact-us {
    margin-top: 400px;
    height: 600px;
    padding: 40px;
    background-color: rgb(195, 195, 195);
    box-sizing: content-box;
    color: black;
}

.faq {
    margin-top: 40px;
}

.question-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 20px;
    background-color: rgb(132, 0, 0);
    border-radius: 10px;
    width: 65%;
    overflow: hidden;
}

.question {
    width: 100%;
    box-sizing: border-box;
    cursor: pointer;
}

    .question div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 50px;
        padding: 10px;
        box-sizing: border-box;
    }

        .question div:hover {
            background-color: rgb(89, 0, 0);
        }

        .question div p {
            user-select: none;
        }

@media (max-width: 768px) {
    .cards {
        flex-direction: column;
        gap: 1.4rem;
    }

    .question-container {
        width: 100%;
    }
}

.arrow-down {
    width: 20px;
    transition: all 300ms ease;
    user-select: none;
}


.rotate-180 {
    transform: rotate(180deg);
}
